<?xml version="1.0" encoding="UTF-8"?>
<!-- This configuration is being re-scanned every 10 seconds for changes -->
<configuration scan="true" scanPeriod="90 seconds">
    <property name="logPattern"
              value="Log message written on %d{yyyy-MM-dd HH:mm:ss}%n  %message%n%n----------------------------------------------------------------------------%n%n"/>

    <!-- Rolling file appender. Control log level from here -->
    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <file>logs/jade.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/jade.%d{yyyy_MM_dd_HH_mm}_part%i.log</fileNamePattern>
            <maxHistory>300</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>120000Kb</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>${logPattern}</pattern>
        </encoder>
    </appender>

    <logger name="jlg.jade">
        <appender-ref ref="ROLLING"/>
    </logger>

</configuration>