<?xml version="1.0" encoding="UTF-8"?>
<!-- This configuration is being re-scanned every 10 seconds for changes -->
<configuration scan="true" scanPeriod="10 seconds">
    <property name="logPattern" value="%d{yyyy-MM-dd HH:mm:ss} %class::%M %-5level %logger{35} log message:%n  msg%n%n"></property>

    <!-- File appender. Control log level from here -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>jade.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <append>true</append>
        <encoder>
            <pattern>${logPattern}</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE" />
    </appender>

    <!-- Rolling file appender. Control log level from here -->
    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <file>jade.rolling.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>jade.%d{yyyy-MM-dd-HH-mm}.%i.log</fileNamePattern>
            <maxHistory>10</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>200Mb</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <!-- Console appender. Control log level from here -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>%-5relative %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="jlg.jade">
        <appender-ref ref="FILE" />
        <appender-ref ref="ROLLING" />
        <appender-ref ref="STDOUT" />
    </logger>

</configuration>